.disponible{

    font-size: 1.4em;
    font-weight: bold;
    
    
    
}
.letra{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end ;

}
.tituloDisponible{
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 10px;


}

.tablaRepresentativa{
    margin-left: 30.5%;
    margin-right: 10%;
    max-width: 528px;
}

