.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(10, 160, 187);
    color: rgb(8, 8, 8);
  }

  .button  {
      
    background-color:transparent;
    color: white;
  max-height: 10px;
    margin: 0px 0;
    width: 20%;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    float: right;
  }